/* 기본 */
:root {
  --main-bg-color: #ffffff;
  --main-text-color: #000000;
  --card-opacity: 0.5;
  --card-scale: 0.8;
  --card-active-scale: 1.3;
  --card-transition: 0.3s;
}

/* 바디 */
body {
  font-family: Arial, sans-serif;
  background-color: var(--main-bg-color);
  color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* 숨김 */
.hidden {
  display: none !important;
}

/* 시작 화면 */
#startScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9); /* 배경색과 투명도 설정 */
}

#startScreen h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#startScreen p {
  font-size: 1.2em;
  opacity: 0.7;
}

/* 게임 선택 화면 */
#gameList {
  margin-top: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

/* 탑바 */
.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.top-bar h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

#money-display {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#optionIcon,
#shopIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px; /* 옵션 버튼과 상점 버튼 사이의 간격 */
}

#money-display img,
#optionIcon img,
#shopIcon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* 옵션 화면 */
#optionScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

#optionScreen h2 {
  margin-top: 0;
}

.option {
  margin: 20px 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* 게임 카드 */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  overflow: hidden;
  width: 100vw;
  height: 60vh;
  position: relative;
  margin-top: 30vh; /* 원하는 만큼 아래로 내리기 위해 margin-top 추가 */
}

.game-card {
  flex: 0 0 220px;
  height: 300px;
  text-align: center;
  opacity: var(--card-opacity);
  transform: scale(var(--card-scale));
  transition: transform var(--card-transition), opacity var(--card-transition);
  color: var(--main-text-color);
  position: absolute;
}

.game-card img {
  width: var(--card-scale, 100%); /* 너비 설정 */
  height: var(--card-height, 80%); /* 높이 설정 */
  object-fit: cover;
}

.game-card.active {
  opacity: 1;
  z-index: 1;
  transform: scale(var(--card-active-scale));
  transition: transform var(--card-transition), opacity var(--card-transition);
}

.game-card.left {
  z-index: 0.2;
  transform: translateX(-220px) scale(var(--card-scale));
  opacity: var(--card-opacity);
}

.game-card.right {
  z-index: 0.2;
  transform: translateX(220px) scale(var(--card-scale));
  opacity: var(--card-opacity);
}

/* 캔버스 스타일 */
canvas {
  display: block;
  margin: 0 auto;
  background: black;
}

/* 게임 오버 화면 스타일 */
#gameOverScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
}

#reaction-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; /* 화면 전체 높이 사용 */
}

#reaction-message {
  font-size: 24px;
  margin-bottom: 20px;
}

#reaction-target {
  width: 150px;
  cursor: pointer;
}

#reaction-speed {
  font-size: 20px;
  margin-top: 20px;
}

#reaction-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

/* 게임 베팅 화면 */
#betting-container {
  text-align: center;
  margin-top: 20px;
}

#horse-info {
  margin: 20px 0;
}

#horse-image {
  width: 100px;
  height: 100px;
  background-size: cover;
}

.betting-controls {
  margin: 20px 0;
}

.betting-controls label {
  margin-right: 10px;
}

.betting-controls input {
  margin-right: 20px;
}

/* 경주 화면 */
.track {
  position: relative;
  width: 90%;
  height: 300px;
  margin: 20px auto;
  border: 2px solid black;
  background-color: #f0f0f0;
  overflow: hidden;
}

.horse {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: brown; /* 기본 색상 */
  border-radius: 50%; /* 원형으로 만들기 */
  top: 0;
}

.controls {
  text-align: center;
  margin-top: 20px;
}

.controls button {
  margin: 5px;
}

#results {
  text-align: center;
  margin-top: 20px;
}

.progress-display {
  position: absolute;
  top: -20px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--main-bg-color);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
}

/* 상점 화면 */
#shopScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

#slotMachine {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.slot {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
}